<h2><%= @restaurant.name %></h2>

Address: <%= @restaurant.address %><br>
City: <%= @restaurant.city %><br>
State: <%= @restaurant.state %><br>
Zip: <%= @restaurant.zip %><br><br>

<%= link_to 'Submit New Review', new_restaurant_review_path(@restaurant) %>

<h2>Reviews</h2>
<table>
  <tr>
    <th>Rating</th>
    <th>Review</th>
  </tr>
<% @reviews.each do |review|  %>
  <tr>
    <th><%= review.rating %></th>
    <th><%= review.body %></th>
  </tr>
<% end %>
</table>


<br><br>

<%= link_to 'See All Restaurants', restaurants_path %>



