<h2><%= @restaurant.name %></h2>

Address: <%= @restaurant.address %><br>
City: <%= @restaurant.city %><br>
State: <%= @restaurant.state %><br>
Zip: <%= @restaurant.zip %><br>

<%= link_to 'Submit Review' , new_restaurant_review_path(@reviews) %>


<h2>Reviews</h2>
<% @reviews.each do |review|  %>
  Rating: <%= review.rating %>
  Review: <%= review.body %><br>
<% end %>




<%= link_to 'See All Restaurants', restaurants_path %>



